.note {
	display: inline-block;
	position: relative;
	width: 24%;
	margin-top: 1%;
	margin-left: 1%;
	padding-top: 33px;
	border: 1px solid #aaa;
	background: #fff2ab;
	box-sizing: border-box;
	letter-spacing: 0;
	vertical-align: top;
	box-shadow: 0 3px 5px 1px #ddd;
	word-break: break-all;
	.note-inner {
		padding: 10px;
		h2 {
			font-weight: bold;
		}    
		.note-date {
			font-size: 0.9em;
			text-align: right;
		}
		.note-text {
			margin-top: 5px;
		}
	}
	.note-menu {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		padding: 6px 0;
		background: #ffeb81;
		.note-menu-l {
			float: left;
			margin-left: 10px;
		}
		.note-menu-r {
			float: right;
			margin-right: 10px;
		}
		.note-menu-l, 
		.note-menu-r {
			button {
			display: inline-block;
			margin-left: 5px;
			vertical-align: top;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}